.bg-genre-100 {
  background: linear-gradient(#c0d9e7 50%, #f1ddc9 100%);
}

.bg-genre-200 {
  background: linear-gradient(#c7eae2 50%, #fef9c9 100%);
}

.bg-genre-300 {
  background: linear-gradient(#d2cbe4 50%, #fdd7ca 100%);
}

.bg-genre-400 {
  background: linear-gradient(#e7d3c0 50%, #c9f1ef 100%);
}

/*  500 ~ 1200까지 미완성 */
.bg-genre-500 {
  background: linear-gradient(#c0d9e7 50%, #f1ddc9 100%);
}

.bg-genre-600 {
  background: linear-gradient(#c0d9e7 50%, #f1ddc9 100%);
}

.bg-genre-700 {
  background: linear-gradient(#c0d9e7 50%, #f1ddc9 100%);
}

.bg-genre-800 {
  background: linear-gradient(#c0d9e7 50%, #f1ddc9 100%);
}

.bg-genre-900 {
  background: linear-gradient(#c0d9e7 50%, #f1ddc9 100%);
}

.bg-genre-1000 {
  background: linear-gradient(#c0d9e7 50%, #f1ddc9 100%);
}

.bg-genre-1100 {
  background: linear-gradient(#c0d9e7 50%, #f1ddc9 100%);
}

.bg-genre-1200 {
  background: linear-gradient(#c0d9e7 50%, #f1ddc9 100%);
}

.bg-nv-100 {
  background-color: #dde8f1;
}

.bg-nv-200 {
  background-color: #e1f2ef;
}

.bg-nv-300 {
  background-color: #e1e1f2;
}

.bg-nv-400 {
  background-color: #f1eadd;
}
