@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
  color: white;
}

/* background color #111111 커스텀 지정 */
.bg-gray-1000 {
  background-color: #111111;
}

/* background color #333333 커스텀 지정 */
.bg-gray-650 {
  background-color: #333333;
}

/* text-shadow 커스텀 지정 */
.drop-shadow-text {
  text-shadow: 4px 2px 0.1px #777;
}

.hover-bg-gray:hover {
  transition: background-color 0.5s ease;
  background-color: #444444; /* 마우스를 올렸을 때 배경색이 #333333으로 변하도록 설정 */
}

h1 {
  font-size: 2.25rem;
  margin-top: 3.25rem;
  margin-bottom: 1.25rem;
  font-weight: 700;
}
